*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
    ;
}
body{
    width: 100%;
    height: 100%;
    background: #0f3554;
    background-size: 100%;
}
p{
    padding: 0;
    margin: 0;

}
.cronometro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 20px rgb(10, 175,230,1);
}
.divBoton{
    display: flex;
    position: absolute;
    left: 39%;
    top: 60%;
}